<h1>支払い登録</h1>

<table class='calendar_table'>
  <thead>
    <tr>
      <th>支払日</th>
      <th>金額</th>
      <th>費目【費目分類】</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr style="background-color:<%= cycle('#FFffFF','#FFFFCC') %>">
        <td><%= expense.day %></td>
        <td align="right"><%= number_with_delimiter(expense.money) %></td>
        <td><%= expense.item.name %>【<%= expense.item.category.name %>】</td>
        <td><%= link_to image_tag('btn_edit.gif', { :border => '0', :alt => '編集'}), edit_expense_path(expense) %>
        <td><%= link_to image_tag('btn_delete.gif', { :border => '0', :alt => '削除'}), expense, method: :delete, data: { confirm: '削除してもいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render partial: "form" %>